{% extends "layout.html" %}

{% block content %}

<div class="mb-4">
    <h1 class="display-5 fw-bold">Sobre Cinefast</h1>
    <p class="article-content mb-4">
        Cinefast é um projeto pessoal focado em entender como APIs são construídas e assimiladas a templates, utilizando Python como linguagem de programação principal com o framework FastAPI, Jinja2 para os Templates HTML, Bootstrap básico em CSS para estilização e uso leve de Javascript para manipulação DOM. 
    </p>

    <p class="article-content mb-4">
        Para essa API, o projeto iniciou de forma bem simples: uma página "home.html" que estendia o "layout.html" e uma rota root de diretório. Inclui um dataset manual no Python com três filmes e modelei o design do site em um estilo de componentes, facilitando o uso do CSS para já deixar a lógica de inserção e display de filmes de forma automática e otimizada. Em seguida, criei outras rotas, como a "movie.html" e "about.html" (essa).
    </p>

    <p class="article-content mb-4">
        Aos poucos, pretendo adicionar Pydant para validação de dados e modelagem, e em seguida migrar o dataset manual para um banco de dados propriamente dito. Cinefast é uma iniciativa simples, mas feita de coração e com bastante esforço. Quero construir algo elegante, útil e que me faça agradecer tudo que tenho aprendido até então.
    </p>
</div>




{% endblock content %}